/* Apply a global reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
        /* Gradient background */
    color: #fff; /* Set default text color to white */
}

body{
    height: 100vh;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
h1{
    text-decoration: underline;
}

/* Styling for the main container */
.container {
    height: 100vh;
    display: grid;
    place-content: center;
}

/* Styling for the calculator */
.calculator {
    position: relative;
    width: 400px;
    padding: 30px 35px;
    text-align: center;
    background: #000; /* Black background */
    border-radius: 5%; /* Rounded corners */
    box-shadow: 0 1px 20px rgb(41, 50, 122); /* Box shadow effect */
    z-index: 99;
}

/* Styling for labels */
label {
    display: block;
    margin-top: 20px;
}

/* Styling for the input field */
#input_field {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    background-color: #333; /* Dark gray background */
    border: none;
    border-radius: 20px; /* Rounded corners */
    color: #fff; /* White text */
    text-align: end; /* Text alignment to the right */
}

#input_field:hover, 
#input_field:focus,
#input_field:focus-within{
    box-shadow: 0px 2px 6px 0px rgb(255 255 255);
}

/* Styling for the controls section */
.controls {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 24px;
    padding: 11px;
    background: #161616; /* Dark gray background */
    border-radius: 5%; /* Rounded corners */
    box-shadow: 0 1px 20px rgba(255, 255, 255, 0.46); /* Box shadow effect */
}

/* Styling for columns in the controls section */
.column_1, 
.column_2, 
.column_3, 
.column_4{
    display: flex;
    flex-direction: column;
}

/* Styling for buttons */
button {
    margin: 7px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 50%;
    transition: background-color 0.4s, scale 0.4s;
    box-shadow: 1px -1px 0px 0px rgb(255 255 255);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.1) 100%);
    font-weight: 700;
}

/* Styling for button hover effect */
button:hover {
   background-color: #4b4f4b;
    border: 2px solid white;
    /* font-size: 18px; */
    scale: 1.1;
    box-shadow: 1px -1px 19px 7px rgb(255 255 255);
}


.outer {
    background: #333;
    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    
    /* Add this line */
}

.outer::after {
    content: "";
        position: absolute;
        height: 650px;
        width: 202px;
        background-color: #7c4dff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(34deg);
        animation: move 2s infinite;
        box-shadow: -1px 1px 20px 20px rgb(120 95 255);
        animation: rotate 2s infinite;
}


@keyframes rotate {
    100%{
        transform: translate(-50%, -50%) rotate(214deg);
    }
}
